@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
html {
  font-size: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(images/bg-intro-mobile.png) #ff7a7a;
  box-sizing: border-box;
  margin: 0;
}

.main-text-container {
  color: white;
  margin-bottom: 3rem;
}
.main-text-container h1 {
  padding-top: 5rem;
  margin: auto;
  text-align: center;
  width: 70%;
}
.main-text-container p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4rem;
  padding-top: 1rem;
  margin: auto;
  text-align: center;
  width: 80%;
}

.highlighted-badge-container {
  background: #6055a5;
  border-radius: 10px;
  box-shadow: 2px 6px 3px 2px rgba(0, 0, 0, 0.3);
  color: white;
  margin: 0 auto 1.5rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
}
.highlighted-badge-container .highlighted-badge {
  font-size: 0.8rem;
  font-weight: 400;
  margin: auto;
  width: 23ch;
}
.highlighted-badge-container .highlighted-badge .highlited-badge__bold {
  font-weight: 600;
}

.form {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 6px 3px 2px rgba(0, 0, 0, 0.3);
  color: #3e3c49;
  margin: auto;
  padding: 1rem;
  width: 80%;
}
.form .form__input--section {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 1rem;
}
.form .form__input--section .invalid input,
.form .form__input--section .invalid input:focus {
  border: 2px solid #ff7a7a;
  color: #ff7a7a;
  padding-right: calc(1.5rem + 1.2rem + 0.5rem);
}
.form .form__input--section .invalid .form__input--errorMsg {
  display: block;
}
.form .form__input--section input {
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #3e3c49;
  grid-row: 1;
  font: 600 0.8rem "Poppins", sans-serif;
  height: 2.5rem;
  padding: 0 1rem;
}
.form .form__input--section input::placeholder {
  opacity: 0.5rem;
}
.form .form__input--section input:invalid {
  box-shadow: none;
}
.form .form__input--section .form__input--errorMsg {
  color: #ff7a7a;
  display: none;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 500;
  grid-row: 2;
  justify-self: end;
  margin-top: 0.5rem;
}
.form .form__input--section .form__input--errorMsg::first-letter {
  text-transform: uppercase;
}
.form button {
  background: #38cc8c;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 6px 3px 2px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font: 600 0.8rem "Poppins", sans-serif;
  height: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  width: 100%;
}
.form button:hover {
  background: #58e9aa;
}
.form .terms-services {
  color: #b9b6d3;
  font-size: 0.6rem;
  font-weight: 600;
  margin: auto;
  text-align: center;
  width: 85%;
}
.form .terms-services .terms-services__highlight {
  color: #ff7a7a;
  font-weight: 700;
  text-decoration: none;
}
.form .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
