@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// VARIABLES

$colors: (
	primary-red: hsl(0, 100%, 74%),
	primary-green: hsl(154, 59%, 51%),
	light-green: hsl(154, 77%, 63%),
	accent-blue: hsl(248, 32%, 49%),
	neutral-dark-blue: hsl(249, 10%, 26%),
	neutral-grayish-blue: hsl(246, 25%, 77%),
	footer-color: hsl(228, 45%, 44%)
);

$font-size: (
	mobile-normal-font-size: 0.8rem,
	mobile-small-font-size: 0.6rem,
	desktop-large-font-size: 3rem,
	desktop-normal-font-size: 1rem,
	desktop-small-font-size: 0.8rem
);

$font-weights: (
	small: 400,
	medium: 500,
	semi-bold: 600,
	bold: 700
);

$box-shadow: 2px 6px 3px 2px rgba(0, 0, 0, 0.3);

// GENERAL STYLINGS

html {
	font-size: 100%;
}

body {
	background: url(images/bg-intro-mobile.png) map-get($colors, primary-red);
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

// MAIN TEXT SECTION

.main-text-container {
	color: white;
	margin-bottom: 3rem;

	h1 {
		padding-top: 5rem;
		margin: auto;
		text-align: center;
		width: 70%;
	}

	p {
		font-size: map-get($font-size, mobile-normal-font-size);
		font-weight: map-get($font-weights, small);
		line-height: 1.4rem;
		padding-top: 1rem;
		margin: auto;
		text-align: center;
		width: 80%;
	}
}

// BADGE SECTION

.highlighted-badge-container {
	background: map-get($colors, accent-blue);
	border-radius: 10px;
	box-shadow: $box-shadow;
	color: white;
	margin: 0 auto 1.5rem;
	padding: 1rem;
	text-align: center;
	width: 80%;

	.highlighted-badge {
		font-size: map-get($font-size, mobile-normal-font-size);
		font-weight: map-get($font-weights, small);
		margin: auto;
		width: 23ch;

		.highlited-badge__bold {
			font-weight: map-get($font-weights, semi-bold);
		}
	}
}

// FORM SECTION

.form {
	background: white;
	border-radius: 10px;
	box-shadow: $box-shadow;
	color: map-get($colors, neutral-dark-blue);
	margin: auto;
	padding: 1rem;
	width: 80%;

	.form__input--section {
		display: grid;
		grid-template-rows: auto auto;
		margin-bottom: 1rem;

		input {
			border: 1px solid #ccc;
			border-radius: 5px;
			color: map-get($colors, neutral-dark-blue);
			grid-row: 1;
			font: map-get($font-weights, semi-bold)
					map-get($font-size, mobile-normal-font-size) 'Poppins',
				sans-serif;
			height: 2.5rem;
			padding: 0 1rem;

			&::placeholder {
				opacity: 0.5rem;
			}
		}

		.success {
			border: medium solid map-get($colors, primary-green);
		}

		.invalid {
			background: url(images/icon-error.svg) no-repeat 90%;
			border: medium solid map-get($colors, primary-red);
			color: map-get($colors, primary-red);
		}

		.form__input--errorMsg {
			color: map-get($colors, primary-red);
			display: none;
			font-size: map-get($font-size, mobile-small-font-size);
			font-style: italic;
			font-weight: map-get($font-weights, medium);
			grid-row: 2;
			justify-self: end;
			margin-top: 0.5rem;
		}
	}

	// Button
	button {
		animation: wiggle 500ms 3s 5 none;
		background: map-get($colors, primary-green);
		border: none;
		border-radius: 5px;
		box-shadow: $box-shadow;
		color: white;
		cursor: pointer;
		font: map-get($font-weights, semi-bold)
				map-get($font-size, mobile-normal-font-size) 'Poppins',
			sans-serif;
		height: 2.5rem;
		letter-spacing: 1px;
		margin-bottom: 1rem;
		text-transform: uppercase;
		width: 100%;

		&:hover {
			background: map-get($colors, light-green);
		}
	}

	// Terms & Services Section
	.terms-services {
		color: map-get($colors, neutral-grayish-blue);
		font-size: map-get($font-size, mobile-small-font-size);
		font-weight: map-get($font-weights, semi-bold);
		margin: auto;
		text-align: center;
		width: 85%;

		.terms-services__highlight {
			color: map-get($colors, primary-red);
			font-weight: map-get($font-weights, bold);
			text-decoration: none;
		}
	}

	// For screen readers
	.visually-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

// Animate the cta button! Wobble after a few seconds!! Maybe also blue badge ***************
// Pro-tip: Dont set :focus outline:none as it breaks site for keyboard users. Create own style instead https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939
// http://www.outlinenone.com/

// FOOTER

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: map-get($colors, footer-color);
}

// MEDIA QUERIES

@media (min-width: 75rem) {
	html,
	body {
		height: 100vh;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1.5fr 3.5fr;
		grid-template-areas:
			'Text-Section Badge'
			'Text-Section Form'
			'Text-Section Form';
		height: 90vh;
	}

	.main-text-container {
		align-self: center;
		font-size: 2rem;
		grid-area: Text-Section;

		h1 {
			font-size: map-get($font-size, desktop-large-font-size);
			max-width: 16ch;
			margin-right: 3rem;
			text-align: left;
		}

		p {
			font-size: map-get($font-size, desktop-normal-font-size);
			text-align: left;
			margin-right: 3rem;
			max-width: 50ch;
			width: 70%;
		}
	}

	.highlighted-badge-container {
		align-self: end;
		grid-area: Badge;
		margin: 0;
		max-height: 2.25rem;
		max-width: 31.25rem;
		padding: 1rem 2rem;

		.highlighted-badge {
			width: 100%;
			font-size: map-get($font-size, desktop-normal-font-size);
		}
	}

	.form {
		align-self: start;
		grid-area: Form;
		margin: 2rem 0;
		max-width: 31.25rem;
		padding: 2rem;

		.form__input--section {
			input {
				font-size: map-get($font-size, desktop-normal-font-size);
				height: 3rem;
			}

			.invalid {
				background-position: 95%;
			}

			.form__input--errorMsg {
				font-size: map-get($font-size, desktop-small-font-size);
			}
		}

		.button {
			font-size: map-get($font-size, desktop-normal-font-size);
		}
	}
}

// ANIMATION

@keyframes wiggle {
	0% {
		transform: rotateZ(0);
	}
	50% {
		transform: rotateZ(-4deg);
	}
	100% {
		transform: rotateZ(4deg);
	}
}

@media (prefers-reduced-motion: reduce) {
	.button {
		animation: none;
	}
}
